.section-title {
    margin-bottom: 60px;
}

.separador {
    width: 60px;
    height: 4px;
    background-color: black;
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: gray;
    color: black;
    font-size: 34px;
    flex: none;
}
