.container-fluid{
    background:  #748918;
    opacity: initial;
    padding: 0.5rem;
    font-weight: bold;
  }

  .logo{
    margin-right: 0.5rem !important;
  }
  
  .col{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    color: #fff;
    font-size:40px;
    font-weight: bold;
  }
  
  .btn{
    border-radius: 50px;
    font-size:18px;
  }

/* Navbar.css */

.navbar .nav-link {
  color: white;
}

.navbar-brand span {
  color: white;
}

/* Cambia el color del texto dentro de la marca de navegación a blanco */
.navbar-brand span {
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Añade un margen a la imagen */
.navbar-brand img {
  margin-left: 10px;
}

/* Alinea verticalmente la imagen y el texto */
.navbar-brand {
  display: flex;
  align-items: center;
}
