body{
  margin:2rem;
  padding:2rem;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20231103/pngtree-background-texture-of-lush-green-plant-leaves-image_13791493.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}



